<%= form_for @ad, :html => { multipart: true, :class => "form-horizontal ad" } do |f| %>

  <% if @ad.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ad.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :body, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :body, :class => 'form-control' %>
    </div>
    <%=f.error_span(:body) %>
  </div>
  <div class="form-group">
    <%= f.label :book_title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :book_title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:book_title) %>
  </div>
  <div class="form-group">
    <%= f.label :edition, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :edition, :class => 'form-control' %>
    </div>
    <%=f.error_span(:edition) %>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%=f.error_span(:author) %>
  </div>
  <div class="form-group">
    <%= f.label :subject, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
    <%=f.error_span(:subject) %>
  </div>
  <div class="form-group">
    <%= f.label :isbn, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :isbn, :class => 'form-control' %>
    </div>
    <%=f.error_span(:isbn) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
    </div>
    <%=f.error_span(:picture) %>
  </div>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ads_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
$('#ad_picture').bind('change', function() {
var size_in_megabytes = this.files[0].size/1024/1024;
if (size_in_megabytes > 5) {
  alert('Maximum file size is 5MB.');
}
});
</script>
<!-- debug -->
<p>
</p>