
    <div class="content" >
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Screen name:</strong>
        <%= @signup.screen_name %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @signup.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @signup.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @signup.email %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= @signup.password %>
      </p>

      <p>
        <strong>Confirm password:</strong>
        <%= @signup.confirm_password %>
      </p>

      <%= link_to 'Edit', edit_signup_path(@signup) %> |
      <%= link_to 'Back', signups_path %>

    <!-- end .content --></div>
