
  <div class="content">
    
    
    <p id="notice"><%= notice %></p>

    <center><h1 style="padding-bottom:10px"><strong><u>Your To Do List</u></strong></h1></center>

    <p>
    <ul>
    <% @to_dos.each do |to_do| %>
    <!-- Ensure that you only display goals for current user -->
    <% if current_user.id == to_do.user_id %>
      <li style="font-size:20px"><%= link_to to_do.task, to_do, class: 'goalLink' %> (Estimated Time: <%= to_do.time %>) | <%= link_to 'Delete', to_do, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></li>

    <% end %>
    <% end %>
    </ul>
  </p>

  <br>

  <%= link_to 'New To do', new_to_do_path, {:style=>'font-size: 18px;', :class => "css_class"} %>
  <!-- end .content -->
  </div>