
  <div class="content">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Task:</strong>
	  <%= @to_do.task %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @to_do.description %>
	</p>

	<p>
	  <strong>Time:</strong>
	  <%= @to_do.time %>
	</p>

	<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
	<%= link_to 'Back', to_dos_path %>

  <!-- end .content -->
  </div>