<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://fullcalendar.io/js/fullcalendar-2.7.1/fullcalendar.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<link href="http://fullcalendar.io/js/fullcalendar-2.7.1/fullcalendar.print.css" rel="stylesheet" media="print" />

	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://fullcalendar.io/js/fullcalendar-2.7.1/fullcalendar.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.js"></script>

</head>
<body>

<div class="container">
  <div class="header"><img src="/assets/textbooks1.jpg" alt="Small Logo" name="Insert_logo" width="180" height="90" id="Small_logo" style="background-color: #C6D580; display:block;" />

  <!-- end .header --></div>
  <div class="sidebar1">
    <ul class="nav">
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  
    <!-- end .sidebar1 --></div>
      <div class="col-sm-10">
        <div class="pull-right">
            <% if current_user %>
              Signed in as <%= current_user.name %> | 
              <a class="btn btn-color" type="submit" href="/logout">Logout</a>
            <% else %>
              <a class="btn btn-color" type="submit" href="/login">Login</a> | 
              <a class="btn btn-color" type="submit" href="/signup">Signup</a>
            <% end %>
          </div>
        <%= yield %>
      </div>
    </div>

 <div class="footer">
    <p><strong>© Fall 2016 RailsCoders.  All rights reserved.</strong></p>
  <!-- end .footer --></div>
  <!-- end .container --></div>

</body>
</html>
