<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <p id="notice"><%= notice %></p>
    <div id="container">
      <div id="headwrap">
 		    <header>
 			    <%= link_to 'SJSU Textbook Exchange®', "/",
 			    {:style=>'color:#606060;;',:class => 'websiteTitle'} %>
           <!-- Add search box and button
 			     <input type="text" id="search-input">
          
     		   <a href="#" id="search-button">Search</a>
            -->
          <div id="horzNav">
            <%= link_to 'Home', "/"%>
            <%= link_to "Help", help_path %>
		        <%= link_to "Ads", posts_path %>
            <%= link_to 'About', {:controller => 'static_pages', :action =>'about'}%>
            <% if logged_in? %>
			         <%= link_to "Users", users_path %>
			         <%= link_to "Profile", current_user %>
               <!--link to mailbox for messaging-->
               <%= link_to "Inbox", mailbox_inbox_path %>
			         <%= link_to "Log out", logout_path, method:"delete" %>
			         (Log in as <%= current_user.first %>)
			      <% else %>
			         <%= link_to "Log in", login_path %>
		        <% end %>
            <%= link_to 'More', "/"%>
          </div>
		    </header>
      </div><!--END OF HEADWRAP-->

 	    <div id="bodywrap">
        <%= yield %>
      </div><!--END OF BODYWRAP-->

      <div id="footwrap">
        <div id="leftfoot">
          <%= link_to 'SJSU Textbook Exchange®', "/",
          {:id => 'leftfoot1'} %>
          <p id="leftfoot2">
            © 2016 by RailsCoders.
          </p>
        </div><!--END OF LEFTFOOT-->
        <div id="midfoot">
          <p id="midfoot1">
            Software Engineering I<br>
            CMPE 131 - 03<br>
            San Jose State University<br>
            Fall 2016
          </p>
        </div><!--END OF MIDFOOT-->
      </div><!--END OF FOOTWRAP-->
    </div><!--END OF CONTAINER-->
  </body>
</html>
