<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="container-fluid">
        <header>
          <%= link_to 'SJSU Textbook Exchange®', "/",
          {:style=>'color:#606060;;',:class => 'websiteTitle'} %>
           <!-- Add search box and button
           <input type="text" id="search-input">
          
           <a href="#" id="search-button">Search</a>
            -->
          <div id="horzNav">
            <%= link_to "Home", "/" %>
            <%= link_to "Help", static_pages_help_path %>
            <%= link_to "Ads", ads_path %>
            <%= link_to 'About', static_pages_about_path %>

            <!-- more -->
           <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">More</button>
            <div id="myDropdown" class="dropdown-content">
              <a><%= link_to "Log in", new_user_session_path %> </a>
              <a><%= link_to "New Ad", new_ad_path %> </a>
              <a><%= link_to "New Ad", new_ad_path %> </a>
            </div>
          </div>





            <% if logger? %>
               <%= link_to "Log out", destroy_user_session_path, method:"delete" %>
            <% else %>
               <%= link_to "Log in", new_user_session_path %>
            <% end %>



          </div><!-- end of horzNav-->


        </header>
  
      </div><!--END OF HEADWRAP-->

      <div id="bodywrap">
        <%= yield %>
      </div><!--END OF BODYWRAP-->

      <div id="footwrap">
        <div id="leftfoot">
          <%= link_to 'SJSU Textbook Exchange®', "/",
          {:id => 'leftfoot1'} %>
          <p id="leftfoot2">
            © 2016 by RailsCoders.
          </p>
        </div><!--END OF LEFTFOOT-->
        <div id="midfoot">
          <p id="midfoot1">
            Software Engineering I<br>
            CMPE 131 - 03<br>
            San Jose State University<br>
            Fall 2016
          </p>
        </div><!--END OF MIDFOOT-->
      </div><!--END OF FOOTWRAP-->
    </div><!--END OF CONTAINER-->
  </body>
</html>
